@charset "UTF-8";

/*=================================
小型PCを基本設計にする
 - 1280px～：大型PC
 - 960px～1279px：小型PC☆
 - 600px～959px：タブレット
 - 480px～599px：スマートフォン横
 - ～479px：スマートフォン縦
===================================*/

/******************
* ページ全体に適応 *
 ******************/


html {
    font-family: serif;
    overflow: auto;
}

body {
    font-size: 1.5em;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0 0 0 0;
}
#header, #main, #footer {
    background-color: #fff;
    margin: 0 auto 0 auto;
    max-width: 960px;
    min-width: 1279px;
}

/********
* リンク *
 ********/

a:link {
  color: #d25833;
  text-decoration: none;
}

a:visited {
  color: #d25833;
  text-decoration: none;
}

a:hover {
  color: #e3937a;
  text-decoration: none;
}

a:active {
  color: #ff6a3b;
  text-decoration: none;
}


/********
* ヘッダ *
 ********/

header {
    margin: 0 0 0 0;
}

/***********************
* ヘッダー メニューバー *
 ***********************/
 
.cp_navi {
    color: #888;
    display: block;
    margin: 0 0 0 0;
    overflow: hidden;
    width: 100vw;
    height: 13.5vh;
}

.cp_navi ul {
    margin: 0;
    padding: 0;

}

.cp_navi > ul > li {
    width: 19vw;
    height: 13.5vh;
    margin: 0.2vh 0.2vw 0.2vh 0.2vw;
    display: inline;
    list-style-type: none;
    float: left;
}

/***************************
* ヘッダー ロゴの位置を調整 *
 ***************************/
 
.logo img{
    margin: 0 auto;
    position: relative;
    display: inline;
    height: 13.5vh;
    max-width: 18vw;
}

/***********************
* ヘッダー 検索ボックス *
 ***********************/
 
.search_container {
    box-sizing: border-box;
    position: relative;
    border: 1px solid #999;
    border-radius: 20px;
    height: 5vh;
    width: 18vw;
    overflow: hidden;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    
}

.search_container input[type="text"]{  
    border: none;
    position: absolute;
    font-size: 0.75em;
    margin: 0 0 0 0;
    vertical-align: middle;
    left: 2vw;
}

.search_container input[type="text"]:focus {
    outline: 0;
    font-size: 0.75em;
}
.search_container input[type="submit"]{
    cursor: pointer;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 0.8em;
    border: none;
    background: none;
    color: #3879D9;
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    right: -9px;
    bottom: -12px;

}
/*******************
* ヘッダー メニュー *
 *******************/

.cp_navi > ul > li > a > .caret {
    content: '';
}
.cp_navi > ul > li > a {
    color: #aaa;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.05);
    display: block;
    line-height: 13.5vh;
    text-decoration: none;
    text-align: center;
}
.cp_navi > ul > li:hover {
    background-color: rgb(255, 255, 15);
}
.cp_navi > ul > li:hover > a {
    color: rgb( 0,0,0 );
}
.cp_navi > ul > li:hover > a > .caret {
    border-top-color: rgb( 255, 255, 255 );
}

.cp_navi > ul > li > div {
    background-color: rgb(255, 255, 15);
    border-top: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.05);
    /* display: none; */
    margin: 0;
    opacity: 0;
    position: absolute;
    width: 19vw;
    visibility: hidden;
}
.cp_navi > ul > li:hover > div {
    opacity: 1;
    visibility: visible;
    z-index: 2;
}
.cp_navi > ul > li > div > ul > li {
    display: block;
    text-align: left;
}
.cp_navi > ul > li > div  > ul > li > a {
    font-size: 1rem;
    color: #000;
    display: block;
    padding: 12px 24px;
    text-decoration: none;
}
.cp_navi > ul  > li > div ul > li:hover > a {
    background-color: rgba( 255, 255, 255, 0.5);
}


/****************************************************
* background-colorを適応させたくない箇所を#fffに修正 *
 ****************************************************/
header li.logo:hover{
     background-color: #fff;
}
header li.search:hover{
     background-color: #fff;
}

/********
* フッタ *
 ********/

footer {
    height: 13.5vh;
}

footer h4{
    position: relative;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    top: 50%;
    transform: translateY(-50%);
}

/*********************
* トップページ メイン *
 *********************/

.container {
    margin-right: 0.1em;
    margin-left: 0.1em;
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 86vh;
}

.area {
    scroll-snap-align: start;
    height: 86vh;
    font-size: 2rem;
    text-align: center;
    vertical-align: center;
}

.area:nth-child {
    background-color: #ffffff;
}

.container::-webkit-scrollbar{
    display:none;
}

/*******************************
* トップページ メイン 1ページ目 *
 ******************************/
.area1 {
    position: relative;
    height: 86vh;
}

.area img {
    height: 100%;
    z-index: 1;
}

.area1 h1 {
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    z-index: 2;
    font-weight: 100;
    font-size: 10vw;
    line-height: 10vw;
    font-variation-settings: 'wght' 100, 'wdth' 85;
}

h1 .char {
    --delay: calc((var(--char-index) + 1) * 400ms);
    animation: breathe 4000ms infinite both;
    animation-delay: var(--delay);
}

h1:hover span {
    animation-play-state: paused;
}

@keyframes breathe {
    0% {
        font-variation-settings: 'wght' 100, 'wdth' 85;
        font-size: 7vw;
    }
    60% {
        font-variation-settings: 'wght' 700, 'wdth' 100;
        font-size: 8.5vw;
    }
    
    100% {
        font-variation-settings: 'wght' 100, 'wdth' 85;
        font-size: 7vw;
    }
}

/*******************************
* トップページ メイン 2ページ目 *
 ******************************/

.area2 {
    position: relative;
    height: 86vh;
}

.coffee-map {
    position: relative;
    height: 86vh;
    top: 0;
}

/*******************************
* トップページ メイン 3ページ目 *
 ******************************/

.area3 {
    height: 86vh;
    overflow: hidden; 
}

#slidewrap {
    margin: 0 auto;
    padding: 20px 20px;
    height: 86vh;
    /* width: 500px; */
    text-align: left;
    background: #fff;
}

#slidewrap ul li {
    list-style: none;

}
 
#slidemask {
    width: auto;
    height: 60vh;
    overflow: hidden;
    position: relative;
    display: block;
    margin: 0 auto 0 auto;
}


 
/* PhotoSlideArea
-------------------------- */
ul#photo {
    position: absolute;
}

ul#photo li {
    width: 500px;
    height: 375px;
    float: left;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

ul#photo li img {
    height: 200px;
    width: auto;
    margin-left: 50%;
    transform: translateX(-50%);
}

ul#photo li span {
    bottom: 0;
    left: 0;
    padding: 0 10px;
    width: 480px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-weight: bold;
    background: #333;
    position: absolute;
    opacity: 0.5;
}

/* ThumbnailBTN
-------------------------- */

ul#thumb {
    width: 500px;
    height: 94px;
    display: block;
    margin: 0.8em auto;
}

ul#thumb li {
    width: 125px;
    height: 60px;
    float: left;
}
 
ul#thumb li img {opacity: 0.5;}

ul#thumb li:hover {opacity: 1;}

/* CSS3 PhotoSlideAnimation
-------------------------- */
@-webkit-keyframes AutoSlidePhoto {
    0% {left: 0;}
    20% {left: 0;}
    25% {left: -1000px;}
 
    45% {left: -1000px;}
    50% {left: -1500px;}
 
    70% {left: -1500px;}
    75% {left: -2000px;}
 
    95% {left: -2000px;}
    100% {left: 0;}
}
ul#photo {
    -webkit-animation-name: AutoSlidePhoto;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count:infinite;
}
 
 
/* CSS3 ThumbnailSlideAnimation
-------------------------- */
@-webkit-keyframes AutoSlideThumb {
    0% {opacity: 0.5;-webkit-transform:scale(1);}
    1% {opacity: 1;-webkit-transform:scale(1.2);-webkit-box-shadow: 0 0 10px #fff;z-index:10;}
    20% {opacity: 1;-webkit-transform:scale(1.2);-webkit-box-shadow: 0 0 10px #fff;z-index:10;}
    21% {opacity: 0.5;-webkit-transform:scale(1);}
    100% {opacity: 0.5;-webkit-transform:scale(1);}
}
 
ul#thumb li#thumb01 img,
ul#thumb li#thumb02 img,
ul#thumb li#thumb03 img,
ul#thumb li#thumb04 img {
    -webkit-animation-name: AutoSlideThumb;
    -webkit-transform: scale(1);
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
}
 
ul#thumb li#thumb02 img {-webkit-animation-delay: 5s;}
ul#thumb li#thumb03 img {-webkit-animation-delay: 10s;}
ul#thumb li#thumb04 img {-webkit-animation-delay: 15s;}

/****************
* 商品一覧ページ *
 ****************/

.slide-wrap {
    font-size: 1rem;
    background-color: #ccc;
    display: flex;
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
}
.slide-box {
    height: auto;
    margin: .5%;
    width: 24%;
}
.slide-box a {
    background-color: #fff;
    color: #222;
    display: block;
    text-decoration: none;
}
.slide-box img {
    display: block;
    height: auto;
    width: 100%;
}
.slide-box p {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    margin:.5rem auto;
}

@media screen and (max-width: 768px) {
/* スマホサイズでスライダー表示 */
  .slide-wrap {
    overflow-x: scroll;
  }
  .slide-box {
    flex: 0 0 70%;
    margin: auto 1% auto auto;
  }
}

/******************
* 1280px〜：大型PC *
 ******************/
@media screen and (min-width:1280px) {}


/*=======================
 600px〜959px：タブレット
 ========================*/
@media screen and (min-width:600px) and (max-width:959px) {}


/*==================
 480px〜599px：SP横
 ===================*/
@media screen and (min-width:480px) and (max-width:599px) {}


/*========================
 〜479px：スマートフォン縦
 =========================*/
@media screen and (max-width:479px) {}
