@charset "UTF-8";

/**********
*   全体   *
 **********/
 
html {
  font-family: serif;
  overflow: auto;
}

body {
    overflow: hidden;
    font-size: 1.3rem;
    height: 100%;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

#header, #main, #footer {
    margin: 0 auto 0 auto;
    max-width: 1200px;
    min-width: 960px;
}

/********
* リンク *
 *******/

a:link {
  color: #d25833;
  text-decoration: none;
}

a:visited {
  color: #d25833;
  text-decoration: none;
}

a:hover {
  color: #e3937a;
  text-decoration: none;
}

a:active {
  color: #ff6a3b;
  text-decoration: none;
}


/********
* ヘッダ *
 ********/

/**************
* メニューバー *
 **************/

header {
    margin-top: 0;
    margin-bottom: 0;
    background-color: #ffffff;
}

.cp_navi {
	background-color: #ffffff;
	/*
	border: 1px solid #dedede;
	border-radius: 4px;
	*/
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #888888;
	display: block;
	/*
	margin: 1em 1%;
	*/
	margin-top: 0.5px;
	margin-bottom: 0.5px;
	margin-left: 0.5px;
	margin-right 0.5px;
	overflow: hidden;
	width: 100vw;
	height: 13.5vh;
}

.cp_navi ul {
	margin: 0;
	padding: 0;
}

.cp_navi > ul > li {
	display: inline-block;
	list-style-type: none;
	text-align: center;
	-webkit-transition: all 0.2s;
	        transition: all 0.2s;
}

.logo{
    margin: 0 0 -19px 0;
}

.search {
    margin-left: 20px;
    margin-right: 40px;
}

.cp_navi > ul > li > a > .caret {
	/*
	border-top: 4px solid #aaaaaa;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	*/
	content: '';
	display: inline-block;
	height: 0;
	width: 0;
	vertical-align: middle;
	-webkit-transition: color 0.1s linear;
	        transition: color 0.1s linear;
}
.cp_navi > ul > li > a {
    width: 16vw;
	color: #aaaaaa;
	display: block;
	line-height: 56px;
	padding: 0 15px;
	text-decoration: none;
}
.cp_navi > ul > li:hover {
	background-color: rgb(255, 255, 15);
}
.cp_navi > ul > li:hover > a {
	color: rgb( 255, 255, 255 );
}
.cp_navi > ul > li:hover > a > .caret {
	border-top-color: rgb( 255, 255, 255 );
}

.cp_navi > ul > li > div {
	background-color: rgb(255, 255, 15);
	border-top: 0;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	display: none;
	margin: 0;
	opacity: 0;
	position: absolute;
	width: 180px;
	visibility: hidden;
	-webkit-transiton: opacity 0.2s;
	       transition: opacity 0.2s;
}
.cp_navi > ul > li:hover > div {
	display: block;
	opacity: 1;
	visibility: visible;
}
.cp_navi > ul > li > div > ul > li {
	display: block;
	text-align: left;
}
.cp_navi > ul > li > div  > ul > li > a {
	color: #ffffff;
	display: block;
	padding: 12px 24px;
	text-decoration: none;
}
.cp_navi > ul  > li > div ul > li:hover > a {
	background-color: rgba( 255, 255, 255, 0.5);
}

header li.logo:hover {
    background-color: #ffffff;
}

header li.search:hover {
    background-color: #ffffff;
}

/********
* フッタ *
 ********/

footer {
    background-color: #ffffff;
}

footer h4{
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

/********
* メイン *
 ********/

main {
    
}

.container {
    margin-right: 0.1em;
    margin-left: 0.1em;
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 86vh;
}
.area {
    scroll-snap-align: start;
    height: 86vh;
    font-size: 4rem;
    text-align: center;
    color: #fff;
}

.area:nth-child(even) {
    background-color: #0db;
}

.area:nth-child(odd) {
    background-color: #0bd;
}

.container::-webkit-scrollbar{
 display:none;
}

